#cloud {
  animation: wind 14s;
  animation-timing-function: cubic-bezier(0.780, 0.495, 0.700, 0.800);
  animation-iteration-count: infinite;
}

@keyframes wind {
  0% { left: -30%; }
  100% { left: 110%; }
}